<!DOCTYPE html>
<html>
<link rel="stylesheet" href={{ url_for('static', filename='css/table_style.css') }}>
	<head>
		<title>Daily</title>
	</head>
	<body>

		<div class="box">
			<div class="box-header">
				<h3 class="box-title">  {{ DATE }}</h3>
			</div>
			<div class="box-body">
				<table id="date-table" class="table table-bordered">
					<thead>
						<tr>
							<th>ID</th>
							<th>Title</th>
							<th>가격</th>
							<th>수강생</th>
							<th>매출</th>
						</tr>
					</thead>

					<tbody>
						{% for COURSE in COURSES %}
						<tr> 
							<td> <a href="../course/{{ COURSE.ID }}"> {{ COURSE.ID }} </a></td>
							<td> {{ COURSE.TITLE }} </td>
							<td> ₩ {{ COURSE.PRICE }} </td>
							<td> {{ COURSE.STUDENT_COUNT }} 명</td>
							<td> ₩ {{ COURSE.REVENUE }} </td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>


	</body>
</html>
